:root{
    --header-text: white;
    --header-background: #0D4C92;
    --title-text: #59C1BD;
    --border: #A0E4CB;
    --image-border: solid 5px #A0E4CB;
    --link-text: #59C1BD;
    --link-hover: #A0E4CB;
 }

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--header-background);
    Color: var(--header-text);

}

ul {
    list-style-type: none;

}

li{
  
    display: inline-block;
}


a{
    color: var(--link-text);
    text-decoration: none;
}

a:hover{
    color: var(--link-hover);
    transition-property: ;
    transform: scale(1.1);
}


.h1{
    font-size: 100%;
    display:inline-block;
    color: var(--title-text);
}

h2{
    font-size: 100%;
    color: var(--title-text);
    background-image: ;
}

img{
    border: var(--image-border);
    border-color: var(--border);
    width: 100px;
    /* try to add border opacity over the image? */
}


.project-image:hover{
    border: solid 20px black;
}