:root {
    --header-text: white;
    --header-background: #0D4C92;
    --summary-background: #59C1BD;
    --title-text: #0D4C92;
    --border: #A0E4CB;
    --image-border: solid 0.5vw #A0E4CB;
    --image-border-hover: solid 2vw #A0E4CB;
    --link-text: #59C1BD;
    --link-hover: #A0E4CB;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body{
    top: 10vw;
    position: absolute;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    padding: 4vw;
    background-color: var(--header-background);
    Color: var(--header-text);
    width: 100vw;
    position: fixed;
    top:0;
}

.ul {
    list-style-type: none;
}

.li {
    display: inline-block;
    padding: 0.5vw;
}

.summary{
    display:flex;
    background-color: var(--summary-background);
    color: var(--header-text);
    padding: 2vw;
    align-content: center;
}

a {
    color: var(--link-text);
    text-decoration: none;
} 


a:hover {
    color: var(--link-hover);
}


/* header text */
h1{
    font-size: 300%
}

/* side bar text */
h2{
    font-size: 120%;
    color: var(--title-text);
    padding: 0vw 0vw 1vw 0vw;
    text-align: center;
}

h3 {
    font-size: 120%;
    color: var(--title-text);
    padding: 0vw 0vw 1vw 0vw;
}

/* footer text */
h4 {
    font-size: 125%;
    color: var(--header-text);
    font-weight: normal;
}

p{
    display:flex;
    justify-content: left;
    padding: 25px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* this was previously .section */
#About{
    display:flex;
    flex: 2;
    padding: 2vw;
    flex-direction: row;
    align-items:center;
}

.title-about{
    display:flex;
    width: 10vw;
    flex-direction: column;
    padding: 0vw 2vw 0vw 0vw;
    text-align: right;
    border-right: solid var(--header-background) .3vw;
}

#Work {
    display: flex;
    flex: 2;
    padding: 2vw;
    flex-direction: row;
}

.title-work{
    display:flex;
    width: 10vw;
    flex-direction: column;
    padding: 0vw 2vw 0vw 0vw;
    text-align: right;
    border-right: solid var(--header-background) .3vw;
}

/* this affects portrait size */
img {
    border: var(--image-border);
    border-color: var(--border);
    width: 100px;
}

content{
    display:flex;
    flex-direction: column;
}

.project-holder{
    display: flex;
    flex-direction: row;
    width: 85vw;
    flex-wrap: wrap;
    margin: 12.5px;
}



.project1 {
    display: flex;
    flex-shrink: 1;
    width: 80vw;
    padding: 20vw;
    margin: 25px 25px 0px 25px;
    justify-content: center;
    border: var(--image-border);
    background-image: url("../Assets/Images/Sage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 1s 0s;
    text-decoration: none;
    color: transparent;
  
}



.project2,
.project3,
.project4,
.project5 {
    display: flex;
    flex-shrink: 2;
    width: 39vw;
    height: 20vh;
    padding: 18vw;
    margin: 12.5px;
    justify-content: center;
    border: var(--image-border);
    background-image: url("../Assets/Images/Sage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 1s 0s;
    
    /* try to add border opacity over the image? */
    /* figure out how to make the pictures the right sizes */
   
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover {
    opacity: 50%;
    transform: scale(.88);
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw 2vw 4vw;
    background-color: var(--header-background);
    Color: var(--header-text);
}