:root {
    --header-text: white;
    --header-background: #0D4C92;
    --summary-background: #59C1BD;
    --title-text: #0D4C92;
    --border: #A0E4CB;
    --image-border: solid 5px #A0E4CB;
    --link-text: #59C1BD;
    --link-hover: #A0E4CB;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    top: 14vw;
    position: absolute;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 20px;
    background-color: var(--header-background);
    Color: var(--header-text);
    width: 100vw;
    position: fixed;
    top:0;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 5px;
}

summary{
    display:flex;
    background-color: var(--summary-background);
    color: var(--header-text);
    padding: 30px;
    align-content: center;
}


a {
    color: var(--link-text);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}


.h1 {
    font-size: 150%;
    display: inline-block;
    color: var(--title-text);
}

h2,
h3 {
    font-size: 120%;
    color: var(--title-text);
    padding: 0px 0px 15px 0px;
}

h4 {
    font-size: 125%;
    color: var(--header-text);
    font-weight: normal;
}

p{
    display:flex;
    border-left: solid black 3px;
    justify-content: left;
    padding: 25px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section {
    display:flex;
    flex: 2;
    padding: 25px;
    flex-direction: row;
    align-items:center;
}

.title-about{
    display:flex;
    flex-direction: column;
    padding: 30px;
    text-align: right;
}

.title-work{
    display:flex;
    flex-direction: column;
    padding: 30px;
    text-align: right;
}

/* this affects portrait size */
img {
    border: var(--image-border);
    border-color: var(--border);
    width: 100px;
}

content{
    display:flex;
    flex-direction: column;
}

.project-holder{
    display: flex;
    flex-direction: row;
    width: 85vw;
    flex-wrap: wrap;
}

#Work {
    display: flex;
    flex-wrap: wrap;
}

.project1 {
    display: flex;
    width: 80vw;
    padding: 200px;
    border: var(--image-border);
    background-image: url("../Assets/Images/Sage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
}

.project2,
.project3,
.project4,
.project5 {
    display: flex;
    flex-shrink: 2;
    width: 50%;
    height: 40vh;
    padding: 200px;
    border: var(--image-border);
    background-image: url("../Assets/Images/Sage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    /* try to add border opacity over the image? */
    /* figure out how to make the pictures the right sizes */
   
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover {
    border: solid 20px black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--header-background);
    Color: var(--header-text);
}